body{
    background: gainsboro;
}

.my_container{
    background: #ececec;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 30px;
    border: 1px solid #c4c4c4;
    box-shadow: 5px 5px 10px #575757;
}

h1{
    margin: 15px 0 30px 0;
    text-align: center;
}
img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
p{
    text-align: justify;
}
h2{
    color: #5ac8ff;
}
